@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400;500;600;700;800;900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

$custom-font-family: 'Lexend', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$header-font-family: 'Orbitron', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",  Roboto, "Helvetica Neue", Arial, sans-serif !default;

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family !important;
}

body {
    font-family: $custom-font-family;
  }

.site-title {
    font-family: $header-font-family !important;
    text-transform: uppercase;
    font-weight: 700;
}