@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;400;500;600;700;800;900&family=Orbitron:wght@400;500;600;700;800;900');

@page {
  size: 5.5in 8.5in; /* Change from the default size of A4 */
  margin: 0.5in; /* Set margin on each page */
}

@page :left {
  @bottom-left {
    content: counter(page);
    font-family: 'Orbitron';
    font-weight: bold;
    position: absolute;
    z-index: -1;
  }
  @bottom-right {
    content: string(heading);
    font-family: 'Orbitron';
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    z-index: -1;
  }
}

@page :right {
  @bottom-left {
    content: string(heading);
    font-family: 'Orbitron';
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    z-index: -1;
  }
  @bottom-right {
    content: counter(page);
    font-family: 'Orbitron';
    font-weight: bold;
    position: absolute;
    z-index: -1;
  }
}

@page full {
  @bottom-right {
    content: none;
  }

  @bottom-left {
    content: none;
  }

  background: black;
  margin: 0;
}

@page :blank {
  @bottom-right {
    content: none;

  }

  @bottom-left {
    content: none;
  }
}

@page clean {
  @bottom-right {
    content: none;
  }

  @bottom-left {
    content: none;
  }
}



/* table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;

} */

html {
  counter-reset: h1-counter;
  font-family: 'Lexend';
  font-size: 8pt;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, th {
    font-family: 'Orbitron';
    text-transform: uppercase;
}

h1 {
  counter-increment: h1-counter;
  string-set: heading content();
  text-align: center;
  page-break-before: always;
}

#separator {
  height: 1.4in;
}

#version {
  text-align: center;
  font-size: 9pt;
  text-transform: uppercase;
}

p, ol, ul {
  text-align: justify;
  word-spacing: -1px;
  hyphens: auto;
}

.columned {
  columns: 2;
  column-fill: balance;
}

blockquote {
  page-break-inside: avoid;
  margin-top: 0;
  margin-bottom: 1em;
}

.columned ul {
  page-break-inside: avoid;
}

.columned ol {
  page-break-inside: avoid;
}

.columned table {
  page-break-inside: avoid;
}

.columned p {
  word-spacing: -1px;
}

/* toc */

#toc {
  page: clean;
}
#toc p {
  font-size: 2em;
}
#toc ul {
  display: block;
  margin: 1em 0;
  padding: 0;
}
#toc li {
  display: block;
}
#toc a {
  color: inherit;
  text-decoration: none;
}
#toc a::after {
  content: target-counter(attr(href), page);
  float: right;
}

/* flow control */

#psionics {
  page-break-before: avoid !important;
}

#starting-gear-d20, #attacking--damage, #scars-table, #planetspace-habitat-features, 
#floater, #vermid, #landing--exploration, #effect, #cybernetic-implants, #missions, 
#shipyard, #starship-modules, #shipbuilding, #trade, #artifacts  {
    page-break-before: always;
}

/* tables */

table {
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}

table thead :empty{
  display: none;
}

table th {
  font-weight: bold;
  background: #000;
  color: #fff;
}
table th, table td {
  padding: 3px 5px;
  border: 1px solid #ddd;
}
table tr {
  background-color: #fff;
  border-top: 1px solid #dcdcdc;
  font-size: 7pt;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

th em {
    font-family: 'Lexend';
}
p, ul, ol, dl, table, pre {
  margin-top: 0;
  margin-bottom: 1em;
}

a, a:hover {
    color: #000;
}

/* images */

.bottonimg {
  object-fit: cover;
  width: 5.5in;
}

img { 
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto; 
  height: 4.2in;
}

#principlesimg {
  height: 3.2in;
  border-radius: 25% 75% / 50%;
}

#originsimg {
  height: 1.8in;
  object-position: 10%;
  border-radius: 75% 25% / 50%;
}

#armorimg {
  height: 1.5in;
  object-position: 10%;
  border-radius: 75% 25% / 50%;
}

#starshipsimg{
  height: 1.2in;
  object-position: 10%;
  border-radius: 25% 75% / 50%;
}

#psionicsimg {
  height: 4.5in;
  border-radius: 25% 75% / 50%;
}

#archetypesimg{
  height: 4in;
  border-radius: 25% 75% / 50%;
}

#reactionsimg {
  height: 2in;
  border-radius: 25% 75% / 50%;
}

#distanceimg {
  height: 1.2in;
  object-position: 30% 70%;
  border-radius: 25% 75% / 50%;
}

#criticalimg {
  height: 2.6in;
  object-position: 30% 70%;
  border-radius: 75% 25% / 50%;
}

#scarsimg {
  height: 2.5in;
  border-radius: 25% 75% / 50%;
}

#vehicleimg {
  height: 1.5in;
  border-radius: 25% 75% / 50%;
}

#effectimg {
  height: 1.5in;
  object-position: 0% 85%;
  border-radius: 25% 75% / 50%;
}

#costsimg {
  height: 2in;
  border-radius: 25% 75% / 50%;
}

#planetsimg {
  height: 2in;
  border-radius: 25% 75% / 50%;
}

#stationsimg {
  height: 3in;
  border-radius: 75% 25% / 50%;
}

#starfaringimg {
  height: 1.3in;
  object-position: 0% 60%;
  border-radius: 75% 25% / 50%;
}

#landingimg {
  height: 1.8in;
  object-position: 0% 70%;
  border-radius: 25% 75% / 50%;
}

#tradeimg {
  height: 1.8in;
  border-radius: 75% 25% / 50%;
}

#whoimg {
  height: 2in;
  object-position: -10% 20%;
  border-radius: 25% 75% / 50%;
}

#artifactimg {
  height: 4in;
  object-position: 0% 70%;
  border-radius: 75% 25% / 50%;
}

.cover img {
  bottom: 0;
  height: 8.5in;
  left: 0;
  margin: 0;
  max-width: none;
  object-fit: cover;
  page: full;
  position: absolute;
  width: 5.5in;
  z-index: 1;
}

.cover:last-child {
  break-before: left;
}